html,body,main{
    margin: 0;
    padding: 0;
}


/* -------- Estilo menu lateral ---------*/

.container-menu-l li{
    list-style-type: none;
    margin-bottom: 60px;
}
.container-menu-l li a{
    text-decoration: none;
    color:#484848;
    font-size:25px;

}
.container-menu-l{
    width: 200px;
    height:500px;
    position: absolute;

}


/* -------- Estilo Produtos ---------*/


.container-principal{
    margin:80px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:70%;
}


.container-prod{
    padding: 5px;
    width: 350px;
    margin:30px;
    font-size:18px;
}

.container-prod img{
    width:300px;
    height:300px;
}

.container-principal ul li{
    list-style-type: none;
    margin: 5px;
}
.container-principal ul li{
    text-decoration: none;
    color:black;
}

#textPreco{
    font-size:32px;
    color:darkblue;
}

/* -------- Estilo Pesquisa ---------*/

.pesquisa{
    text-align: center;
}

#search{
    width:500px;
    height:50px;
    border-radius: 10px;
    font-size:18px;
    padding:10px;
}

#barraPesquisa{
    text-align: center;
    width:100%;
    height:50px;
    background: darkblue;
    padding: 10px;
}