html,body,main{
    margin: 0;
    padding: 0;
}

/* -------- Estilo Header princial ---------*/

header ul li{
    list-style-type: none;
    margin: 15px;
    display:inline-block;
}
header ul li a{
    text-decoration: none;
    color:black;
    font-size:25px
}
header img{
    width:90px;
    height:90px;
}
.container-nav{
    display: grid;
}
.nav-item{
    grid-column-start: 3;
}
.nav-item-logo{
    grid-column-start:2;
}

@media (max-width: 720px) {

    header ul li a{
        font-size:20px
    }
}

.barra-principal{
    text-align: right;
    height:50px;
    background: linear-gradient(to right,blueviolet,darkblue);
    margin-bottom: 50px;
    padding:30px;
}

#search{
    width:500px;
    height:50px;
    border-radius: 10px;
    font-size:18px;
    padding:10px;
    vertical-align: 100%;
}

#search-image{

    height:50px;
    width:50px;
}
