nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none; /*removendo o estilo de lista*/
}

nav ul li a{
    text-decoration: none; /*removendo o sublinhado do texto*/
    background-color: darkslategrey;
    color: white;
    padding: 5px; /*espaco interno dos elementos*/
    margin: 1px; /*espaco entre o menu*/
    display: block; /*para que os elementos ocupem seus lugares uma abaixo do outro*/
    width: 200px;
}

nav ul li a:hover{
    background-color: darkolivegreen;

}