ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li{
    width: 200px;
    padding: 5px;
    background: #ddd;
    margin-bottom: 1px;
}

ul li:nth-child(2n+1) { /*voce pode usar pulos (2n = 2 em 2 ou 3n ..... pode adicionar +1 para pegar o primeiro
elemento tambem (2n+1))*/
    background-color: darkcyan;


}
