
body{
    background-color: #F0F0F0;

}

#principal2{
    background-color: bisque;
    width: 750px;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden; /*outra forma de corrigir aquele erro da parte de tras subir e sair de tras dp objetos*/
}


div{
    float: left;
}


#janela1{
    margin:20px;
    width: 200px;
    height: 200px;
    background-color: blue;
}

#janela2{
    margin:20px;
    width: 200px;
    height: 200px;
    background-color: yellow;
}

#janela3{
    margin:20px;
    width: 200px;
    height: 200px;
    background-color: red;
}